@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #CCC;
  border-radius: 40px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: "#fff";
  font-family: var(--body-font);
  overflow-x: hidden;
}

input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}

input[type='file']::-webkit-file-upload-button {
  display: none;
}